@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');


body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #383838;
    color: whitesmoke;
    height: 100%;
    margin: 0;
    min-width: 320px;
    width: auto !important;
}

#first {
    /*Load the image as the bg and set transparency for img only*/
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(./joe.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#nav-bar {
    font-family: 'Major Mono Display', monospace;
    width:100%;
    /* margin-top: 1.5rem; */
    border-bottom: 1px outset white;
    /* padding-top: 0.5rem; */
    padding: 0.5rem 0 0 0;
    /* background-color: rgb(36, 140, 144); */
    display: flex;
    flex-direction:column;
}

nav li {
	display: inline-block;
    padding-right: 50px;
    float: right;
}
	
nav li a {
    font-size: 12px;
}

nav li a:hover {
    text-decoration: underline;
    color: rgb(252, 252, 202);
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#main-content {
    display: flex;
    flex-direction: column;
    height:90vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#name {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 116px;
}

#job {
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    font-size: 18px;
    margin-top: -10px;
}

.sub-content {
    text-align: center;
    margin: 15px 200px 100px;	
}

h2 {
    font-family: 'Major Mono Display', monospace;  
}

#para-about-me {   
    text-align:justify;
	text-justify:inter-word;
}

#footer {
    border-top: 1px inset white;
    padding: 0.25rem;
    text-align: center;
    font-size: 11px;
}

@media only screen and (min-width: 1150px) {
    nav li a {
        font-size: 13px;
    }
    .sub-content {
        text-align: center;
        margin: 15px 400px 100px;	
    }
}

@media only screen and (max-width: 500px) {
}